* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232323;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ballon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ballon-body {
  background-color: #c01a1a;
  width: 4rem;
  height: 5rem;
  border-radius: 90%;
  border: none;
}

.ballon-line {
  width: 1px;
  height: 7rem;
  background-color: #fff;
}

.ballon-body:hover,
.ballon-line:hover {
  filter: brightness(1.2);
  cursor: pointer;
  transition: all 200ms ease-in;
}
